<div class="col-md-4">
	<div class="media">
	  <div class="pull-left">
	    <%= gravatar_for user, size: '60' %>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">
	      <%= link_to user.name, user %>
	    </h4>
	    <% if current_user.admin? && !current_user?(user) %>
	  | <%= link_to "delete", user, method: :delete,
	                                data: { confirm: "You sure?" } %>
			<% end %>
	    <p><i class="fa fa-map-marker"></i> <%= user.location %></p>
	  </div>
	</div>
</div>