<% provide(:title, 'All users') %>
<div class="container">
	<div class="page-header">
	  <h1>List of chef <small>Follow them to get the latest recipe</small></h1>
	</div>


	<%= will_paginate %>


	<div class="row">
		<% @users.each do |user| %>
	    	<%= render user %>
		<% end %>
	</div>

	<%= will_paginate %>
</div>
<hr>