@font-face {
    font-family: 'proxima_nova_alt_regular';
    src: url(../fonts/proxima_nova_alt_regular-webfont.eot);
    src: url(../fonts/proxima_nova_alt_regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/proxima_nova_alt_regular-webfont.woff) format('woff'),
         url(../fonts/proxima_nova_alt_regular-webfont.ttf) format('truetype'),
         url(../fonts/proxima_nova_alt_regular-webfont.svg#proxima_nova_alt_regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'proxima_nova_alt_regular', sans-serif;
	font-size:14px;
    padding-top: 60px;
	line-height:1.42857143;
	color:#333;
	background-color:#fff;
}

.dropdown-toggle.avatar,
.dropdown-toggle.avatar:active {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 44px;
}